// importing IBM Plex Mono from Google Fonts
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");

/* reset styles */
* {
	color: inherit;
	margin: 0;
}

body {
	font-family: "IBM Plex Mono";
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}

hr {
	border: 0;
	border-top: 1px dotted #efefef;
}

img {
	max-width: 100%;
}
