// theme colors
$primary: #326dee;
$secondary: #1ac886;
$error: #e61919;
$info: #e6e619;

// Color palettes
$colors: (
	"primary": $primary,
	"secondary": $secondary,
	"error": $error,
	"info": $info,
	"blue": #1919e6,
	"red": #bc2d37,
	"yellow": #f0dd56,
	"green": #19e635,
	"orange": #ffa600,
	"purple": #9900ff,
	"pink": #ffc0cb,
	"gray": #808080,
	"black": black,
	"white": white,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

// font-size
$base-font-size: 1rem;
$font-size-xs: $base-font-size * 0.5;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.25;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// blockquote
$blockquote-margin-y: $base-margin;
$blockquote-footer-color: map-get($colors, "gray");